.radio-btn.high {
    background-color: #ff4d4d; 
    color: white;
  }
  
  .radio-btn.medium {
    background-color: #ffcc00; 
    color: black;
  }
  
  .radio-btn.low {
    background-color: #66cc66; 
    color: white;
  }
  
  
  .radio-btn.default {
    background-color: white;
    color: black;
    border: 2px solid #ddd;
  }
  
  

/* Hide the default radio button (optional) */
input[type="radio"] {
  display: none;
}

/* Style for the custom radio button */
.radio-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin: 0px 0px 0px 10px;
}





